.content-wrapper {
  animation: transistionIn 2s;
}
@keyframes transistionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
/* body */
body {
  background-color: #dce1e3;
  font-family: "Vollkorn", serif;
  margin: auto;
}
.body-wrapper {
  /* width: 1200px; */
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  /* overflow: scroll; */
}
/* nav-bar */
.nav-bar-wrapper {
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
}
.nav-bar-container {
  width: 400px;
  height: 80px;
  margin: auto;
}
.nav-bar-container > ol > li:hover {
  color: #796a6a;
  cursor: pointer;
}
/* content */
.logo-image {
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 80px;
  /* overflow: hidden; */
  /* margin-top: -6px; */
}
.img-fluid {
  width: 120px;
  height: 100px;
}
ol {
  list-style-type: none;
  /* float: left; */
  margin: 5px;
  margin-top: 20px;
}
li {
  float: left;
  margin: 20px;
  font-size: 16px;
}
/* .landing-page-wrapper {
  width: 1;
} */
.content-wrapper {
  overflow: auto;
  padding-top: 120px;
  width: 1400px;

  /* bottom: 200px; */
  height: 100%;
  /* width: 1400px; */
  margin: auto;
  /* background-color: grey; */
  /* padding-left: 100px; */
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}
/* .content-container {
  width: 1400px;
  margin: auto;
} */
.content-img {
  width: 250px;
  height: 250px;
}
.product-details {
  margin-top: 16px;
  width: 250px;
  height: 100px;
}
.product-details > * {
  margin-top: 5px;
  text-align: center;
}

.product-bot-border {
  width: 29px;
  border-bottom: 1px solid black;
  margin: auto;
  margin-top: 5px;
}
.add-to-cart {
  display: inline-block;
  color: white;
  margin-left: 26%;
  /* border: 1px solid #ccc; */
  background: red;
  cursor: pointer;
  vertical-align: middle;
  min-width: 110px;
  max-width: 120px;
  border-radius: 5px;

  padding: 5px;
  text-align: center;
}

.li-content-details {
  margin: 20px 30px 60px 30px;
}
/* footer */
.footer-wrapper {
  height: 200px;
  background-color: black;
}
.footer-container {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* flex: auto; */
}
.contact-details {
  padding-top: 20px;
}
.left-footer {
  display: inline-block;
}
.center-footer {
  display: inline-block;
}
.right-footer {
  display: inline-block;
}
.shipping-store-payment {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.shipping-store-payment:hover {
  color: #796a6a;
  cursor: pointer;
}
.contact-number-info {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.contact-number-info:hover {
  color: #796a6a;
  cursor: pointer;
}
.fb-ig-pt {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.fb-ig-pt:hover {
  color: #796a6a;
  cursor: pointer;
}
/* signature bar */
.signature-bar {
  height: 40px;
  background: gray;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
